

#searchbar{
  width: 50vw;
}

#form{
  padding-top: 1.5vh;

}

#navbar-text{
  margin-right: 40px;

}

.links{
  padding-left: 30px;
}

#auction-image{
  height: 35vh;
  width: 25vw;
}
#brand{
  height: 75px;
  width: 90px;
}

.auction-item{
  margin: 20px;

}






@keyframes globe-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
